Repository kruize/kruize-demos, pull requests merged in 2024-08, with the labels that each got.

#88 Update MetricProfile queries and add MetricProfile API endpoint
  monitoring/local_monitoring/local_monitoring_demo.sh
  monitoring/local_monitoring/resource_optimization_openshift.json
Labels: enhancement, remote_monitoring

#89 Delete namespace in local demo termination
  common/common_helper.sh
  monitoring/local_monitoring/local_monitoring_demo.sh
Labels: bug

#83 Add support for AKS
  common/common_helper.sh
  monitoring/local_monitoring/local_monitoring_demo.sh
Labels: remote_monitoring
